@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #fafafa;
}
a {
    color: initial;
}
a:hover {
    text-decoration: none;
}
.navbar {
    border-top: 2px solid #e74c3c;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.navbar-brand {
    padding: 0;
}
.navbar-brand img {
    width: 60px;
}
.nav-cart {
    min-width: 100px;
}
.cart-counter {
    background: #e74c3c;
    border-radius: 50px;
    padding: 2px 8px;
    color: #fff;
    font-weight: bold;
}
.card {
    border: none;
    background-color: transparent;
}
.card img {
    height: 200px;
}
.btn-primary {
    background-color: #e74c3c;
    border-color: transparent;
    border-radius: 2px;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #c0392b;
    border-color: transparent;
}
.cart-success {
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: -500px;
    width: 500px;
    background-color: #c0392b;
    color:#fff;
}
.cart-success.visible {
    opacity: 1;
    right: 0;
    transition: all 1s;
}
input[type=number] {
    background: transparent;
    border: none;
    width: 50px;
}
.empty-cart img, .checkout img {
    border-radius: 5px;
    max-width: 100%;
    max-height: 60vh;
}
